<div id="wrapper" class="login">
  <div id="main_container">
    <div class="container">
      <img src="assets/images/coding_dojo_logo_blue.png">

      <h1>Let's try to keep shit under control...</h1>

      <form id="login_form">
        <span class="profile_image hidden"></span>
        <ul class="list-unstyled" id="login_process_list">
          <li class="log_in_with_gmail">
            <h3>Sign in to continue to Dojo Services</h3>

            <div id="login_button" class="btn btn-primary" (click)='onClick()'>
              <fa-icon class='fa' [icon]='faSignIn' aria-hidden='true'></fa-icon>
              <span>Log in with Coding Dojo Email</span>
            </div>
          </li>
        </ul>
      </form>

    </div>
  </div>
</div>
