/* You can add global styles to this file, and also import other style files */
@import './mixins';
@import './variables';
@import './theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
