<mat-form-field class="form-group" [formGroup]='parent'>
  <input class='form-control mat-input-underline' type='text' [placeholder]="placeholder" matInput [formControlName]="controlName"
    [pattern]='match' [readonly]='readonly'>

  <mat-error *ngIf='required'>
    You must provide {{ format() }}
  </mat-error>

  <mat-error *ngIf='minLength'>
    {{ format() | capitalize }} must be at least {{ length.requiredLength }} characters
  </mat-error>

  <mat-error *ngIf='pattern'>
    Supplied characters are not allowed or pattern fails to match
  </mat-error>
</mat-form-field>
