<section>
  <form (ngSubmit)='onSubmit(form)' [formGroup]="form" class='form-container' novalidate>
    <mat-form-field class='form-group' class='form-group'>
      <input class='form-control mat-input-underline' type='text' placeholder="First Name" matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field class='form-group'>
      <input class='form-control mat-input-underline' type='text' placeholder="Last Name" matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field class='form-group'>
      <input class='form-control mat-input-underline' type='text' placeholder="Email" readonly aria-readonly='true' matInput formControlName="email">
    </mat-form-field>

    <app-location-select [parent]='form' [locations]='locations'></app-location-select>

    <button mat-raised-button>Submit</button>
  </form>
</section>
