<section class='col'>
  <form (ngSubmit)='onSubmit(form)' [formGroup]="form" class='form-container' novalidate>

    <app-form-text [parent]='form' placeholder='First Name' controlName='firstName'></app-form-text>
    <app-form-text [parent]='form' placeholder='Last Name' controlName='lastName'></app-form-text>
    <app-form-text [parent]='form' placeholder='Email' controlName='email' [readonly]='true'></app-form-text>
    <app-location-select [parent]='form' [locations]='locations'></app-location-select>

    <button mat-raised-button>Submit</button>
  </form>
</section>
